an_ai_video_automation_system/Stitch Video Together with JSON2Video.json
{
  "name": "Stitch Video Together with JSON2Video",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT8aQptl1Gx3zrs",
          "mode": "list",
          "cachedResultName": "AAIVA",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs"
        },
        "table": {
          "__rl": true,
          "value": "tbl8EaQHZmY23kPsn",
          "mode": "list",
          "cachedResultName": "Scripts",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs/tbl8EaQHZmY23kPsn"
        },
        "filterByFormula": "{Active} = '1'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -688,
        -16
      ],
      "id": "768f6a8b-8332-4a82-bda4-416cb0318816",
      "name": "Get script",
      "credentials": {
        "airtableTokenApi": {
          "id": "AdrZ2mL4Snib6bVt",
          "name": "Airtable AIVA AI School Phase 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT8aQptl1Gx3zrs",
          "mode": "list",
          "cachedResultName": "AAIVA",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs"
        },
        "table": {
          "__rl": true,
          "value": "tbla4eoB2l0LNsuUB",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs/tbla4eoB2l0LNsuUB"
        },
        "filterByFormula": "={Full Script} = {{ $('Get script').item.json.ID }}",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "ID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -464,
        -16
      ],
      "id": "4a6816d7-f756-4535-9b3d-8170816e755f",
      "name": "Get segments",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "AdrZ2mL4Snib6bVt",
          "name": "Airtable AIVA AI School Phase 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        -16
      ],
      "id": "fd59c81b-6047-43a1-ba77-2197bc6eb2dc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"comment\": \"Scene\",\n  \"elements\": [\n    {{ $json[\"Video URL\"] ? {\n      \"type\": \"video\",\n      \"src\": $json[\"Video URL\"],\n      \"position\": \"center-center\",\n      \"duration\": $json['End Time'] - $json['Start Time'],\n      \"volume\": 0.2\n    } : {\n      \"type\": \"image\",\n      \"src\": $json[\"Image URL\"],\n      \"zoom\": -1,\n      \"position\": \"center-center\",\n      \"duration\": $json['End Time'] - $json['Start Time'] \n    } }}\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -16
      ],
      "id": "e4aa5576-7cc5-4692-a568-6c9cd457fbca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"comment\": \"Video\",\n    \"resolution\": \"instagram-story\",\n    \"quality\": \"high\",\n    \"scenes\": {{ JSON.stringify($json.scenes) }},\n    \"elements\": [\n        {\n            \"type\": \"audio\",\n            \"src\": \"{{ $('Get script').item.json['Spoken Audio'][0].url }}\"\n        },\n        {\n            \"type\": \"audio\",\n            \"src\": \"https://www.dropbox.com/scl/fi/rcm7tfno08zhs6svlyec1/411651__evanjones4__film-for-a-music.wav?rlkey=5yrarx21pioeyiqagjhk0hrq6&st=g0trm5mc&dl=1\",\n            \"volume\": 0.2,\n            \"duration\": 30\n        }\n    ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -16
      ],
      "id": "c6baae60-5e80-4f64-aa1f-c0bc28ffc042",
      "name": "Stitch Video Together",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VPwMDsXmy5avyoE9",
          "name": "JSON2Video API Header AAIVA"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -16,
        -16
      ],
      "id": "eda541f4-250a-4d2e-941e-ddec1af93657",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"comment\": \"Video\",\n    \"resolution\": \"instagram-story\",\n    \"quality\": \"high\",\n    \"scenes\": [\n      {\n        \"comment\": \"Scene\",\n        \"elements\": [\n          {\n            \"type\": \"video\",\n            \"src\": \"https://v3b.fal.media/files/b/penguin/bavdAs8dbva1dOVzhYLwu_output.mp4\",\n            \"position\": \"center-center\",\n            \"duration\": 4\n          }\n        ]\n      },\n      {\n        \"comment\": \"Scene\",\n        \"elements\": [\n          {\n            \"type\": \"video\",\n            \"src\": \"https://v3b.fal.media/files/b/monkey/lQ8bfGrTtBJVkle8amdGf_output.mp4\",\n            \"position\": \"center-center\",\n            \"duration\": 2\n          }\n        ]\n      },\n      {\n        \"comment\": \"Scene\",\n        \"elements\": [\n          {\n            \"type\": \"video\",\n            \"src\": \"https://v3b.fal.media/files/b/zebra/fH2nBg3ZgPJv_BjRIgJIL_output.mp4\",\n            \"position\": \"center-center\",\n            \"duration\": 7\n          }\n        ]\n      },\n      {\n        \"comment\": \"Scene\",\n        \"elements\": [\n          {\n            \"type\": \"video\",\n            \"src\": \"https://v3b.fal.media/files/b/panda/uNlL2mkalO1_V5DfpuqZk_output.mp4\",\n            \"position\": \"center-center\",\n            \"duration\": 2\n          }\n        ]\n      },\n      {\n        \"comment\": \"Scene\",\n        \"elements\": [\n          {\n            \"type\": \"video\",\n            \"src\": \"https://v3b.fal.media/files/b/monkey/ieRRMHIQH64zQQVufoDGM_output.mp4\",\n            \"position\": \"center-center\",\n            \"duration\": 8\n          }\n        ]\n      },\n      {\n        \"comment\": \"Scene\",\n        \"elements\": [\n          {\n            \"type\": \"video\",\n            \"src\": \"https://v3b.fal.media/files/b/kangaroo/Rkf2EZH2Mq8mEHfFTxJ3f_output.mp4\",\n            \"position\": \"center-center\",\n            \"duration\": 2,\n            \"volume\": 0.1\n          }\n        ]\n      },\n      {\n        \"comment\": \"Scene\",\n        \"elements\": [\n          {\n            \"type\": \"video\",\n            \"src\": \"https://v3b.fal.media/files/b/tiger/Txn8CouEGvVYuWDJjrwGk_output.mp4\",\n            \"position\": \"center-center\",\n            \"duration\": 8,\n            \"volume\": 0.1\n          }\n        ]\n      },\n      {\n        \"comment\": \"Scene\",\n        \"elements\": [\n          {\n            \"type\": \"video\",\n            \"src\": \"https://v3b.fal.media/files/b/rabbit/Nr1xMv0gtxQLyZsFu1DcZ_output.mp4\",\n            \"position\": \"center-center\",\n            \"duration\": 7,\n            \"volume\": 0.2\n          }\n        ]\n      }\n    ],\n    \"elements\": [\n        {\n            \"type\": \"audio\",\n            \"src\": \"https://v5.airtableusercontent.com/v3/u/46/46/1761602400000/48BUiyfFKXHtGXYY9bf6Ng/_bzIWyS3CIT9wRWkrDLAU0NAkTQX5EOOdT7xlFVRniMNMMKneTi1KS05nLMxDfeeWdXbQCyqYPpHdoEBXnMkiDlgGHFTjNJmvpaQ41fvr33Q9phuLDHT9-KtSyNcKDU8ed0IB485EAUodEd8egxc-p3JS4PdypLyfVibQ2yH2Ds/_0SPZxDLS1fYRN5r8B1T2mh598PIst_Fmpm0jpBkUhg\"\n        }\n    ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        224
      ],
      "id": "dc5a61bb-a20d-4a1a-8395-7e84254da088",
      "name": "Stitch Video Together With Customizations",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SCfBPgZDIDx76TDk",
          "name": "serper.dev Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get script": {
      "main": [
        [
          {
            "node": "Get segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get segments": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Stitch Video Together",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "40e344f7-c14f-4c7e-bf29-a864273a86cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "YMdMlF1cJcZrQYsZ",
  "tags": []
}