a_ai_video_automation_system/Store Video in Airtable.json
{
  "name": "Store Video in Airtable",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT8aQptl1Gx3zrs",
          "mode": "list",
          "cachedResultName": "AAIVA",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs"
        },
        "table": {
          "__rl": true,
          "value": "tbl8EaQHZmY23kPsn",
          "mode": "list",
          "cachedResultName": "Scripts",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs/tbl8EaQHZmY23kPsn"
        },
        "filterByFormula": "{Active} = '1'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -544,
        -288
      ],
      "id": "32b83ba8-cdb5-4c28-9fcd-9c68c943ce16",
      "name": "Get script",
      "credentials": {
        "airtableTokenApi": {
          "id": "AdrZ2mL4Snib6bVt",
          "name": "Airtable AIVA AI School Phase 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT8aQptl1Gx3zrs",
          "mode": "list",
          "cachedResultName": "AAIVA",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs"
        },
        "table": {
          "__rl": true,
          "value": "tbla4eoB2l0LNsuUB",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs/tbla4eoB2l0LNsuUB"
        },
        "filterByFormula": "={Full Script} = {{ $('Get script').item.json.ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -320,
        -288
      ],
      "id": "e80b623f-b64c-4c57-a938-22a3b5c133fc",
      "name": "Get segments",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "AdrZ2mL4Snib6bVt",
          "name": "Airtable AIVA AI School Phase 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -288
      ],
      "id": "20129cec-cf6a-4902-a39f-8b8663b3cc10",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb585f0e-b942-40fb-8595-e98237a514df",
              "leftValue": "={{ $json['Video Render Request ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -288
      ],
      "id": "6622b2e2-9c80-4eb9-ac5f-3c08781242a8",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appT8aQptl1Gx3zrs",
          "mode": "list",
          "cachedResultName": "AAIVA",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs"
        },
        "table": {
          "__rl": true,
          "value": "tbla4eoB2l0LNsuUB",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs/tbla4eoB2l0LNsuUB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Make Video": "={{ $('If').item.json['Make Video'] }}",
            "ID": "={{ $('If').item.json.ID }}",
            "Start Time": "={{ $('If').item.json['Start Time'] }}",
            "End Time": "={{ $('If').item.json['End Time'] }}",
            "Video": "=[\n  {\n    \"url\": \"{{ $json.video.url }}\",\n    \"filename\": \"{{ $json.video.file_name }}\"    \n  }\n]",
            "Video URL": "={{ $json.video.url }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Script Segment",
              "displayName": "Script Segment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Prompt",
              "displayName": "Video Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scripts",
              "displayName": "Scripts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Script",
              "displayName": "Full Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Make Video",
              "displayName": "Make Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Render Request ID",
              "displayName": "Video Render Request ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        352,
        -288
      ],
      "id": "631480ee-5da9-40a1-8cea-975f9d1fd99f",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "AdrZ2mL4Snib6bVt",
          "name": "Airtable AIVA AI School Phase 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3.1/requests/{{ $json['Video Render Request ID'] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -288
      ],
      "id": "52c98a81-7de8-4cc7-8342-cb95add71f56",
      "name": "Download gen'd video metadata",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TuPSmKrfqsiTDmFZ",
          "name": "Fal.ai AI School Phase 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get script": {
      "main": [
        [
          {
            "node": "Get segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get segments": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download gen'd video metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download gen'd video metadata": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "48240ce7-0e2e-4591-96db-12f269a9f6f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "8KYOiDjkKdGgGklN",
  "tags": []
}